// Custom variables

// Colors

$white:             #ffffff;
$gray-100:          #f2f1f1;
$gray-200:          #e8e7e8;
$gray-300:          #a6a6a6;
$gray-400:          #979a9d;
$gray-500:          #6e6e6e;
$gray-600:          #595959;
$gray-700:          #404040;
$gray-800:          #262626;
$gray-900:          #170f18;
$black:             #0e0e0e;
$yellow:            #ffd300;
$green:             #00b16a;
$cyan:              #00acc1;
$orange:            #f06005;
$red:               #ee1c25;
$pink:              #d11a6f;
$salmon:            #ff9285;

// Green: #39796b the other one
// "primary":      #80ccc4,
// "secondary":    #e0e0e0,

// Niti
//   "primary":      #cab388,
    // "secondary":    #e0e0e0,

$theme-colors: (
    "primary":      #00b16a,
    "secondary":    $gray-300,
    "success":      $green,
    "info":         $cyan,
    "warning":      $orange,
    "danger":       $red,
    "light":        $gray-100,
    "dark":         $gray-800,
    "white":        $white,
    "black":        $black,
);

$nav-bg-color:      $black;
$kenekt-top-nav-bg-color:  map-get($theme-colors, "primary");
$youtube-color: map-get($theme-colors, "primary");
$facebook-color: map-get($theme-colors, "primary");
$rate-my-agent-color: map-get($theme-colors, "primary");
$linkedin-color: map-get($theme-colors, "primary");
$instagram-color: map-get($theme-colors, "primary");
$rea-color: map-get($theme-colors, "primary");
